<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>575616284921-s22dqt3edrjfpisj7s66vbtec43lhb0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575616284921-s22dqt3edrjfpisj7s66vbtec43lhb0q</string>
	<key>API_KEY</key>
	<string>AIzaSyA_ofj6xOXaj23nDiTVNADqpgPXbZ7lhBg</string>
	<key>GCM_SENDER_ID</key>
	<string>575616284921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pursoo.pursoo</string>
	<key>PROJECT_ID</key>
	<string>pursoo</string>
	<key>STORAGE_BUCKET</key>
	<string>pursoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575616284921:ios:37b7a013c2e69ef0</string>
	<key>DATABASE_URL</key>
	<string>https://pursoo.firebaseio.com</string>
</dict>
</plist>